.product-block{
  width: 100%;
  margin-top: 23px;
  @include media-breakpoint-down(sm){
    margin-top: 30px;
  }

  &__content {
    background: #C2E4EE;
    padding: 18px 88px 19px 48px;

    @include media-breakpoint-down(sm){
      padding: 24px 13px 48px 12px;
    }
  }

  &__img {
    width: 50%;
    @include media-breakpoint-down(sm){
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      margin-left: 13px;
      max-width: 263px;
      width: 100%;
      height: auto;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(2){
        @include media-breakpoint-down(md){
          display: none;
        }

        @include media-breakpoint-down(sm){
          display: block;
        }
      }

      @include media-breakpoint-down(lg){
        max-width: 190px;
      }

      @include media-breakpoint-down(md){
        max-width: 78%;
      }


      @include media-breakpoint-down(sm){
        max-width: 49%;
        margin-left: 6px;
      }
    }
  }

  &__inform {
    width: 50%;

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  h3 {
    max-width: 514px;
    width: 100%;
    margin: 0 auto 28px;
    z-index: 2;
    letter-spacing: 1px;
    font-size: 48px;
    line-height: 64px;

    @include media-breakpoint-down(md){
      max-width: 100%;
      margin: 48px auto 28px;
    }

    @include media-breakpoint-down(sm){
      max-width: 500px;
      font-size: 30px;
      line-height: 138.7%;
    }
  }

  &__btn {
    max-width: 204px;
    margin: 0 auto;

    @include media-breakpoint-down(sm){
      max-width: 100%;
    }
  }

  &__star {
    position: absolute;
    z-index: 1;

    &__one {
      top: -44px;
      left: 4%;


      @include media-breakpoint-down(lg){
        top: -4px;
        left: -1%;
      }

      @include media-breakpoint-down(sm){
        top: -32px;
        left: 0%;
      }
    }

    &__two {
      top: -24px;
      right: 39%;

      @include media-breakpoint-down(lg){
        top: -4px;
      }

      @include media-breakpoint-down(sm){
        top: -18px;
        right: 35%;
      }
    }

    &__three {
      top: -26px;
      right: 8%;

      @include media-breakpoint-down(lg){
        top: -10px;
        right: 4%;
      }

      @include media-breakpoint-down(sm){
        top: -17px;
        right: 2%;
      }
    }

    &__four {
      bottom: 68px;
      right: 8%;

      @include media-breakpoint-down(lg){
        bottom: 88px;
      }

      @include media-breakpoint-down(sm){
        bottom: 82px;
        right: 7%;
      }
    }
  }

 /* &__list-star {
    &:after {
      position: absolute;
      top: 0px;
      left: 0px;
      content: url("data:image/svg+xml, %3Csvg width='29' height='49' viewBox='0 0 29 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1417 3.9252C14.2386 1.87774 14.35 0.126396 14.3892 0.033329C14.5088 -0.250608 14.6242 1.25166 14.8179 5.61732C14.9198 7.91296 15.0533 10.7303 15.1144 11.8782C15.3185 15.7032 15.2088 18.6212 14.7651 21.1774C14.5142 22.6224 14.4078 22.7262 14.2074 21.7206C13.6982 19.1641 13.5785 15.7525 13.8201 10.6937C13.9001 9.01848 14.0448 5.97267 14.1417 3.9252Z' fill='%231E1E1E'/%3E%3Cpath d='M10.121 21.777C8.89817 20.342 6.60555 17.4561 6.60555 17.3517C6.60555 17.1493 6.93646 17.3801 9.5559 19.4098C11.2713 20.739 11.7257 21.1527 12.1007 21.7267C12.5621 22.433 12.8909 23.2324 12.7691 23.3518C12.6698 23.4493 11.6244 22.9957 11.042 22.6025C10.7601 22.4121 10.3458 22.0407 10.121 21.777Z' fill='%231E1E1E'/%3E%3Cpath d='M17.2688 21.1848C17.5682 20.8665 20.1543 18.8002 21.5481 17.7658C22.8595 16.7925 22.6994 17.0621 19.9741 20.4161C18.5343 22.1881 17.9948 22.6789 17.0246 23.1001C16.2739 23.426 16.1458 23.4449 16.1458 23.2305C16.1458 22.9732 16.9296 21.5456 17.2688 21.1848Z' fill='%231E1E1E'/%3E%3Cpath d='M0.069301 24.5175C-0.175528 24.3852 -0.0942579 24.3759 5.97336 23.8418C8.49578 23.6198 11.238 23.8529 12.1784 24.3695C12.3805 24.4805 12.3657 24.5042 12.0022 24.6517C10.6608 25.1966 9.15614 25.3241 6.43314 25.1237C2.94978 24.8674 0.239072 24.6092 0.069301 24.5175Z' fill='%231E1E1E'/%3E%3Cpath d='M16.6372 24.4761C16.6863 24.3316 17.3421 24.1073 18.3184 23.9014C19.3259 23.6888 20.7545 23.6869 23.4234 23.8944C26.1515 24.1066 28.9267 24.384 28.9952 24.4513C29.0235 24.479 28.924 24.528 28.7744 24.5601C28.4284 24.6344 25.2807 24.9282 23.847 25.02C23.2464 25.0585 22.2307 25.1388 21.5899 25.1986C20.8138 25.271 20.0653 25.2682 19.3485 25.1902C18.132 25.0577 16.5786 24.6486 16.6372 24.4761Z' fill='%231E1E1E'/%3E%3Cpath d='M10.712 26.5505C10.9506 26.3568 11.4016 26.073 11.7143 25.9196C12.027 25.7661 12.3984 25.6407 12.5397 25.6407C12.7697 25.6407 12.7863 25.6756 12.6985 25.9759C12.5321 26.5453 12.0248 27.3655 11.5105 27.8969C11.2403 28.1761 10.2375 29.0033 9.28225 29.7351C7.02212 31.4664 6.60555 31.7587 6.60555 31.6136C6.60555 31.3445 10.0737 27.0684 10.712 26.5505Z' fill='%231E1E1E'/%3E%3Cpath d='M17.5724 28.0881C16.9937 27.5654 16.1458 26.2183 16.1458 25.8217C16.1458 25.5848 16.4396 25.5963 17.0079 25.8553C18.1616 26.3811 18.7108 26.9511 21.6388 30.6607C22.3871 31.6087 22.4051 31.8519 21.6882 31.3292C20.6126 30.5449 18.1144 28.5777 17.5724 28.0881Z' fill='%231E1E1E'/%3E%3Cpath d='M13.8331 29.9838C13.9967 28.4839 14.2741 26.7991 14.3866 26.6203C14.5003 26.4398 14.6166 26.8596 14.806 28.1343C15.1804 30.653 15.2601 31.9878 15.1888 34.5525C15.064 39.0427 14.5787 48.8754 14.477 48.9754C14.4465 49.0051 14.4022 49.0084 14.3786 48.9826C14.3289 48.9283 14.1598 45.795 13.8769 39.6853C13.6427 34.6294 13.6301 31.8424 13.8331 29.9838Z' fill='%231E1E1E'/%3E%3C/svg%3E");
    }

    &:before {
      position: absolute;
      top: 0px;
      right: 0px;
      content: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.06146C0 1.19335 0.432798 0.479604 1.16707 0.136962C1.70804 -0.115388 2.67883 -0.00645874 3.1579 0.360514C4.22418 1.17705 4.28722 2.65254 3.29353 3.52868C2.80379 3.9605 2.51126 4.04533 1.73531 3.9807C0.703816 3.89476 0 3.11639 0 2.06146Z' fill='%231E1E1E'/%3E%3C/svg%3E");
    }
  }

  &__list-star_2 {
    &:before {
      position: absolute;
      top: 0px;
      right: 0px;
      content: url("data:image/svg+xml, %3Csvg width='15' height='26' viewBox='0 0 15 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.31465 2.08276C7.36477 0.996352 7.42239 0.067067 7.44267 0.0176848C7.50456 -0.132976 7.56423 0.664144 7.66441 2.98062C7.71715 4.19871 7.78618 5.69365 7.81781 6.3027C7.92334 8.33233 7.86663 9.88066 7.63714 11.237C7.50735 12.0037 7.45229 12.0588 7.34866 11.5252C7.08528 10.1687 7.02334 8.35849 7.14831 5.67419C7.18969 4.78531 7.26453 3.16917 7.31465 2.08276Z' fill='%231E1E1E'/%3E%3Cpath d='M5.23502 11.5552C4.6025 10.7937 3.41666 9.2624 3.41666 9.20703C3.41666 9.09964 3.58782 9.22211 4.94271 10.2991C5.82999 11.0044 6.065 11.2239 6.259 11.5285C6.49765 11.9032 6.66769 12.3274 6.60473 12.3908C6.55336 12.4425 6.01262 12.2018 5.71137 11.9931C5.56559 11.8922 5.35126 11.6951 5.23502 11.5552Z' fill='%231E1E1E'/%3E%3Cpath d='M8.93214 11.2409C9.08702 11.072 10.4247 9.9756 11.1456 9.42676C11.8239 8.91032 11.7411 9.05337 10.3314 10.833C9.58672 11.7733 9.30765 12.0337 8.80581 12.2572C8.41752 12.4301 8.35128 12.4401 8.35128 12.3264C8.35128 12.1899 8.75669 11.4323 8.93214 11.2409Z' fill='%231E1E1E'/%3E%3Cpath d='M0.0358454 13.0093C-0.0907902 12.9391 -0.0487541 12.9342 3.08967 12.6507C4.39437 12.5329 5.81275 12.6567 6.2992 12.9307C6.40371 12.9896 6.39603 13.0022 6.20804 13.0805C5.51422 13.3696 4.73593 13.4373 3.32748 13.3309C1.52575 13.195 0.123658 13.0579 0.0358454 13.0093Z' fill='%231E1E1E'/%3E%3Cpath d='M8.60544 12.9873C8.63083 12.9106 8.97007 12.7916 9.47501 12.6824C9.99618 12.5696 10.7351 12.5685 12.1156 12.6787C13.5266 12.7913 14.9621 12.9385 14.9975 12.9741C15.0121 12.9889 14.9607 13.0148 14.8833 13.0319C14.7044 13.0713 13.0762 13.2272 12.3347 13.2759C12.024 13.2963 11.4986 13.339 11.1672 13.3707C10.7658 13.4091 10.3786 13.4076 10.0078 13.3662C9.37864 13.2959 8.57512 13.0788 8.60544 12.9873Z' fill='%231E1E1E'/%3E%3Cpath d='M5.54069 14.088C5.66411 13.9852 5.8974 13.8346 6.05911 13.7532C6.22089 13.6718 6.41299 13.6053 6.48605 13.6053C6.60502 13.6053 6.61359 13.6238 6.56817 13.7831C6.48214 14.0853 6.21971 14.5205 5.95372 14.8024C5.81394 14.9506 5.29528 15.3895 4.80116 15.7778C3.63213 16.6965 3.41666 16.8516 3.41666 16.7745C3.41666 16.6318 5.21054 14.3628 5.54069 14.088Z' fill='%231E1E1E'/%3E%3Cpath d='M9.08915 14.9039C8.78986 14.6266 8.35128 13.9117 8.35128 13.7013C8.35128 13.5756 8.50325 13.5817 8.79718 13.7191C9.39392 13.9981 9.67799 14.3006 11.1925 16.2689C11.5795 16.772 11.5888 16.901 11.218 16.6236C10.6617 16.2075 9.36953 15.1637 9.08915 14.9039Z' fill='%231E1E1E'/%3E%3Cpath d='M7.15503 15.9098C7.23969 15.1139 7.38314 14.2199 7.44135 14.1251C7.50014 14.0293 7.56031 14.252 7.65829 14.9284C7.85193 16.2649 7.89315 16.9731 7.85629 18.334C7.79172 20.7166 7.5407 25.9339 7.48809 25.9869C7.47233 26.0027 7.44944 26.0045 7.43719 25.9908C7.41151 25.962 7.32406 24.2994 7.17768 21.0575C7.05658 18.3748 7.05003 16.896 7.15503 15.9098Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
    }

    &:after {
      position: absolute;
      top: 0px;
      right: 0px;
      content: url("data:image/svg+xml, %3Csvg width='25' height='37' viewBox='0 0 25 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5313 16.5122C12.3695 14.6734 12.3739 9.19751 12.5418 3.56856C12.7057 -1.93236 12.7993 -1.29195 13.0454 7.01761C13.1823 11.6353 13.1848 13.4887 13.0571 15.1468C12.8398 17.9646 12.6927 18.3467 12.5313 16.5122Z' fill='%231E1E1E'/%3E%3Cpath d='M1.06437 18.5405C1.68824 18.5293 3.02815 18.4705 4.04195 18.4099C7.28085 18.2163 11.6263 18.4164 11.1062 18.7353C11.0153 18.791 10.4094 18.9085 9.76004 18.996C8.86775 19.1164 7.57449 19.1126 4.46732 18.9804C0.459352 18.8097 -1.29657 18.5828 1.06437 18.5405Z' fill='%231E1E1E'/%3E%3Cpath d='M14.8514 18.4815C15.3009 18.4313 15.7325 18.3633 15.8105 18.3305C16.1827 18.1745 25.1686 18.54 24.9976 18.7044C24.9356 18.7637 23.0347 18.8898 20.7731 18.9842C17.4978 19.1211 16.4087 19.1203 15.4198 18.9803C14.737 18.8835 14.146 18.7523 14.1063 18.6887C14.0667 18.625 14.4021 18.5319 14.8514 18.4815Z' fill='%231E1E1E'/%3E%3Cpath d='M12.5411 33.3953C12.3739 27.7588 12.3695 22.1069 12.5312 20.4516C12.6938 18.7875 12.837 19.1758 13.0565 21.8756C13.1882 23.4941 13.1864 25.2855 13.0483 30.0098C12.8064 38.2812 12.706 38.9515 12.5411 33.3953Z' fill='%231E1E1E'/%3E%3C/svg%3E ");
    }
  }*/
}