.advantages {
  padding: 65px 0 50px;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 5px;
  }
  &__bg {
    background: #FFFFFF;
  }
  &__wrapper {
    align-items: flex-start;
    @media (max-width: 1199px) {
      align-items: flex-start;
    }
    @include media-breakpoint-down(xs) {
      justify-content: space-between !important;
      margin-left: -6px;
      margin-right: -6px;
    }
  }
  &__tile-box {
    width: 25%;
    @media (max-width: 1199px) {
      padding: 0 12px;
    }
    @include media-breakpoint-down(xs) {
      padding: 0 6px;
    }
  }
  &__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      .advantages__img {
        opacity: 0 !important;
      }
      .advantages__hover-img {
        opacity: 1 !important;
      }
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 144.34%;
      @media (max-width: 1199px) {
        margin-bottom: 38px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 144.34%;
      }
    }
  }
  &__img {
    transition: 0.3s;
    opacity: 1;
    width: 85px;
    height: 85px;
    object-position: center;
    object-fit: contain;
    @include media-breakpoint-down(xs) {
      width: 60px;
      height: 60px;
    }
  }
  &__tile-hover {
    position: relative;
    max-height: 85px;
    height: 85px;
    @include media-breakpoint-down(xs) {
      max-height: 60px;
      height: 60px;
    }
  }
  &__hover-img {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    width: 85px;
    height: 85px;
    object-position: center;
    object-fit: contain;
    @include media-breakpoint-down(xs) {
      width: 60px;
      height: 60px;
    }
  }
  &__btn {
    margin: 24px 0 0;

    @include media-breakpoint-down(sm) {
      margin: 0 auto 35px;
      max-width: 345px;
      width: 100%;
    }
    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}