.featured-collection-new {
  padding: 104px 0;
  @include media-breakpoint-down(sm) {
    padding: 48px 0;
  }
  h2 {
    margin-bottom: 48px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 28px;
    }
  }
  &__list {
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
  }
  .product-card {
    width: calc(25% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      width: calc(50% - 20px);
    }
  }
  &__button {
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
      margin-top: 12px;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    a {
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
}