.home-reviews {
  padding: 104px 0 88px;
  @include media-breakpoint-down(sm) {
    padding: 48px 0;
  }
  h2 {
    margin-bottom: 42px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 28px;
    }
  }
  &__slider {
    @include media-breakpoint-down(xs) {
      padding-left: 15px !important;
    }
    .swiper-slide {
      height: auto !important;
    }
  }
  &__item {
    padding: 28px 0;
    background: #fff;
    @include media-breakpoint-down(xs) {
      padding: 20px 0;
    }
  }
  &__item-title {
    border-bottom: 1px solid #D8D5CE;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 144.34%;
    margin-left: 20px;
    margin-right: 20px;
    @include media-breakpoint-down(xs) {
      margin-left: 15px;
      margin-right: 15px;
    }
    p {
      margin: 0;
    }
  }
  &__text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 150%;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    @include media-breakpoint-down(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
    > div {
      font-weight: 400;
    }
  }
  &__item-cart {
    margin-left: 20px;
    margin-right: 20px;
    background: #FCF8F0;
    @include media-breakpoint-down(xs) {
      margin-left: 15px;
      margin-right: 15px;
    }
    > a {
      img {
        width: 92px;
        height: 100%;
        max-height: 110px;
        object-fit: cover;
      }
    }
  }
  &__item-cart-box {
    padding: 15px;
  }
  &__item-cart-box {
    width: 100%;
    > a {
      font-weight: 500;
      font-size: 18px;
      line-height: 144.34%;
      text-decoration: none;
    }
  }
  &__item-cart-buttons {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-top: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    @include media-breakpoint-down(xs) {
     flex-direction: column;
    }
    .money {
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
    button {
      box-shadow: none !important;
      background: transparent !important;
      color: $c-text !important;
      border: none !important;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      padding-right: 0;
      transition: 0.3s;
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        font-size: 16px !important;
      }
      @include media-breakpoint-down(xs) {
        padding-left: 0;
        margin-top: 13px;
      }
      &:hover {
        color: $c-orange !important;
      }
    }
  }
  .reviews-swiper-pagination {
    margin-top: 48px;
    height: 30px;
    display: flex;
    @include media-breakpoint-down(sm) {
      margin-top: 32px;
    }
    .swiper-pagination-bullet {
      width: 18px;
      min-width: 18px;
      height: 18px;
      background-color: transparent;
      border: solid 1px $c-text;
      display: block;
      border-radius: 50px;
      margin: 0 12px;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      background-color: $c-text !important;
    }
  }
}