.sustainability {
  .page-content {
    margin: 10px 0;
    @include media-breakpoint-down(sm) {
      margin: 24px 0;
    }
  }
  .page-content__img-right {
    padding-top: 50px;
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }
  .page-content__img-right {
    img {
      @include media-breakpoint-down(sm) {
        max-height: 402px;
        object-fit: cover;
      }
    }
  }
  .inform__content {
    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 138.7%;
      }
    }
    .inform__text {
      @include media-breakpoint-down(sm) {
        font-size: 14px !important;
        line-height: 150%;
      }
    }
  }
  .page-content__inform {
    padding-top: 100px;
    width: 495px;
    @include media-breakpoint-down(md) {
      padding-top: 40px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding-top: 0;
      margin-top: 40px;
    }
    h2 {
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 138.7%;
      }
    }
  }
  .inform__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    @include media-breakpoint-down(sm) {
      font-weight: 400;
      font-size: 26px;
      line-height: 138.7%;
    }
  }
  .top-banner__text {
    max-width: 765px;
  }
}